<div class="content">
<div>
      <app-settingsform></app-settingsform>
      </div>
        <div class="row content">
            <div>
                <hr>

            <ul class="list-group listcustom">
            <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients; let i = index"
          >
          {{ ingredient.CategoriesName }} ({{ ingredient.amount }})<span (click)="Ondeleteitem(i,ingredient.CategoriesName)"><img class="custimg" src="../../assets/rubbish-bin.png"></span>
          </a>
      </ul>
    </div>
  </div>
  </div>