  <div class="content">
  <form>
  <div class="row">
    <div class="input-w">
      <label for="name">Total Budget:</label>
      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
      >
      <button class="btn btn-success">Update</button>
    </div>
  </div>
  <div class="row">
    <div class="input-w">
      <label for="amount">Categories</label>
      <input
        type="text"
        id="amount"
        class="form-control"
        name="amount"
      >
      <button class="btn btn-success">Add</button>
    </div>
    </div>
  </form>

  </div>
